 #website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px black solid;

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 800px;
        padding: 20px 0px;

        #nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;

            #nav-text {

                color: grey;
                font-size: 20px;
            }

            #icons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                #icon {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }
            }
        }

    }

    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 110px 425px;
        background: linear-gradient(rgba(0, 0, 255, 0), rgba(53, 53, 121, 0.625)), url(./wood.jpg);
        color: white;
        gap: 20px;

        #home-one {
            font-size: 50px;
            font-weight: bold;
        }

        #home-two {
            font-size: 20px;
            width: 650px;
            text-align: center;
        }

        #home-three {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.578);
            padding: 16px 10px;
            gap: 10px;

            input {
                height: 30px;
                width: 300px;
                border: 1px rgba(0, 0, 0, 0.51) solid;
                font-size: 20px;
            }

            #search {
                background-color: skyblue;
                border: none;
                cursor: pointer;
                font-size: 15px;
                color: white;
                padding: 7px 20px;
                border-radius: 3px;

            }
        }

    }

    #desc {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        background-color: rgba(128, 128, 128, 0.049);

        #box1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            #image1 {
                padding: 20px 20px;
                border: 3px skyblue solid;
                border-radius: 50%;
                gap: 10px;
                text-align: center;

                img {
                    height: 50px;
                    width: 50px;
                }
            }

            #text1 {
                font-size: 20px;
            }

        }

        #box2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            #image2 {
                padding: 20px 20px;
                border: 3px skyblue solid;
                border-radius: 50%;
                gap: 10px;
                text-align: center;

                img {
                    height: 50px;
                    width: 50px;

                }

            }

            #text2 {
                font-size: 20px;

            }

        }

        #box3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            #image3 {
                padding: 20px 20px;
                border: 3px skyblue solid;
                border-radius: 50%;
                gap: 10px;
                text-align: center;

                img {
                    height: 50px;
                    width: 50px;
                }
            }

            #text3 {
                font-size: 20px;
            }

        }
    }

    #sub_part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        #machine_work {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            #notes1 {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 15px;

                #title1 {
                    font-size: 40px;

                }

                #subtitle1 {
                    font-size: 30px;
                    color: grey;

                }

                #matter1 {
                    font-size: 20px;
                    color: rgba(128, 128, 128, 0.532);
                    text-align: center;
                    padding: 10px 20px;
                }
            }
        }

        #human_work {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            #notes2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 15px;

                #title2 {
                    font-size: 40px;

                }

                #subtitle2 {
                    font-size: 25px;
                    color: grey;
                }

                #matter2 {
                    font-size: 20px;
                    color: rgba(128, 128, 128, 0.559);
                    text-align: center;
                    padding: 10px 20px;
                }
            }
        }

        #website_work {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            #notes3 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 15px;

                #title3 {
                    font-size: 40px;

                }

                #subtitle3 {
                    font-size: 25px;
                    color: grey;
                }

                #matter3 {
                    font-size: 20px;
                    color: rgba(128, 128, 128, 0.559);
                    text-align: center;
                    padding: 10px 20px;
                }
            }
        }

        #matter {
            font-size: 30px;
            text-align: center;
            font-weight: bold;

        }

        #sub {
            font-size: 20px;
            color: grey;
        }

        #logos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 90px;

        }
    }

    #review {
        background-color: rgba(128, 128, 128, 0.51);
        padding: 50px 50px;

        #container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            #title {
                font-size: 30px;
                color: bold;

            }

            #subtitle {
                font-size: 15px;
            }
        }

        #rateing_box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px 30px;
            gap: 20px;

        }

        #box1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            #rating {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        #box2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            #rating1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #fire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px rgba(128, 128, 128, 0.271) solid;

        #fire-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 150px;
            gap: 40px;

            #notes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px 150px;
                gap: 40px;

                #title {
                    font-size: 15px;
                }

                #sub_title {
                    font-size: 15px;
                    color: grey;

                }

                button {
                    font-size: 35px;
                    background-color: skyblue;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

    #conclusion {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 10px 150px;
        gap: 30px;
        padding: 30px;

        #last1 {
            font-size: 15px;
            color: grey;
            gap: none;

        }

        #ptx {
            font-size: 15px;
            color: red;
            gap: none;

        }

        #last2 {
            font-size: 15px;
            color: grey;

        }

        #like_button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 3px grey;

        #button1{
            background-color:rgba(0, 0, 0, 0.325) ;

        }
        #button2{
            background-color: skyblue;
        }

        }

    }


}